.accountSubmissionBody{
  background-color: #273644;
  color: white;
  padding-top: 30px;
  margin-top: 20px;
  flex-direction: column;
  display: flex;
  align-items: center;
  table-layout: fixed;
}


#generated-password{
  margin: 10px;
}

.password-generator{
  font-size: small;
}

#passwordGeneratorForm{

}
