table {
  border-collapse: collapse;
  background-color: #273644;
  width: 95%;
  margin-top: 20px;
  margin-bottom: 100px;
  table-layout: fixed;
}

th {
  text-align: left;
  padding: 15px 30px 15px 30px;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #fff;
  font-weight: bold;
}

th.no-background {
  background-color: #f59d2a;
  color: black;
  text-align: center;
  font-size: 16px;
}

.table-header {
  width: 100%;
  border-bottom: 2px solid #fff;
  color: #fff;
}

td {
  text-align: left;
  color: #fff;
  font-size: 18px;
  font-family: "Nixie One", serif;
  font-weight: 300;
  word-wrap: break-word;
}

tr:nth-child(4n + 2) {
  background-color: #34495d;
}

.more-td {
  display: flex;
  justify-content: end;
}

.hidden-tr {
  display: none;
  align-items: center;
  background-color: rgb(240, 240, 240);
  border: 4px solid #f59d2a;
}

.hidden-tr td {
  color: #34495d;
}

.hidetext {
  -webkit-text-security: disc;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

td button {
  font-size: 16px;
  background-color: #273644;
  color: white;
  border-radius: 5px;
  margin-left: auto;
  margin-right: auto;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  padding: 5px 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

td button:hover {
  background-color: #14213d;
  color: #f59d2a;
  cursor: pointer;
  border: 1px solid #f59d2a;
  border-radius: 5px;
}

.border {
  padding: 5px 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  margin-bottom: 25px;
}

.copyPass {
  background-color: #273644;
  color: white;
  border: none;
}

#copyAlert {
  display: none;
  color: pink;
  font-size: large;
  text-align: center;
}

td:nth-child(2) {
  font-size: 12px;
}

td:nth-child(3) {
  font-size: 14px;
}

td:nth-child(6) {
  display: flex;
}

.copy-container {
  position: relative;
  display: inline-block;
}
